.button {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-button-bg;
  color: $color-main;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  @include fontMeasure(500, 17px, 21px);

  @media (max-width: $width-tablet) {
    @include fontMeasure(500, 14px, 17px);
  }

  &:hover {
    background-color: rgba($color-button-bg, 0.8);
  }

  &:active {
    background-color: rgba($color-button-bg, 0.6);
  }
}
